.post {
  margin: 3rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }

  .date {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
}
