.post {
  margin: 3rem 0;
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .sub-post {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
      font-size: 0.8rem;
      position: absolute;
      left: 0;
      top: 0.8rem;
      color: red;
      cursor: pointer;
    }
    .date {
      font-size: 0.8rem;
    }
  }
}
